body{
    background-image: url(../images/study.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    color: rgb(5, 59, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
img{
    padding: 5px;
    border-radius: 20px;  
}
img:hover{
    border:2px solid red;
}
.btn{
    margin-top: 11px;
    margin-left: 11px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    background-color: blue;
}
.btn:hover{
    background-color: rgb(8, 8, 160);
}
#container{
    font-weight:100;
    background-color: rgba(240, 230, 140, 0.712);
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-left: 65%;
    margin-top: -250px;
}
#box1{
    display: none;
}
#box2{
    display: none;
}
#box3{
    display: none;
}
p{
    color: rgb(54, 44, 30);
    font-size: 1.5rem;
    letter-spacing: 1px;
}
small{
    color: rgb(202, 0, 94);
    font-size: 1.5rem;
    letter-spacing: 1px;
}
span{
    color: rgb(5, 44, 173);
    font-size: 1.5rem;
    letter-spacing: 1px;
}