.main{
    background-image: url(../images/tech.jpeg);
    background-size: cover;
    filter: blur(8px);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    position: fixed;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}
#btn{
    margin-top: 11px;
    margin-left: 11px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 10px;
    background-color: blue;
}
h1{
    color: rgb(0, 0, 168);
}
.h2{
    color: rgb(58, 3, 3);
}
span{
color: rgb(54, 15, 15);
font-weight: 500;
font-size: 1.2rem;
}
.box{
    color: rgb(58, 3, 3);
    
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 18%;
    border-radius: 20px;
    background-color: rgba(230, 225, 225, 0.63);
    border: 1px solid red;
}
.box:hover{
    border: 5px solid red;
}